<%if (typeof user === 'undefined') { %>
    <%- include('partials/header-preauth') %>
    <% } else { %>
    <%- include('partials/header-postauth') %>
    <%  } %>


    <div class="grow  -mt-20 sm:mt-0	 ">
        <div class="grid grid-cols-8 gap-4">
          <div class="col-span-8 sm:col-start-2 sm:col-end-8 card bg-base-300 rounded-box place-items-center ">
            <div class="hero  min-h-fit	 sm:mt-2">
      
              <div class="hero-content flex-col lg:flex-row-reverse">
                <img
                  src="https://res.cloudinary.com/mduduzi17/image/upload/v1666962973/undraw_shopping_app_flsj_to9on0.svg"
                  class="min-w-0	     shadow-md" />
                <div>
                  <h1 class="text-4xl  font-bold text-center lg:text-left	 "> Looking to Buy or Sell anything?<br>We got you!.</h1>
      
      
      
      
                  <p class="py-6 text-lg">The online thrift store dedicated to finding value for your belongings.Whether new or pre-owned, you find it here! </p>
                  <button class="btn btn-primary mx-auto lg:mx-0	text-xl block"><a href="/login">Get in the mix</a></button>
                </div>
              </div>
            </div>
            <div class="divider"></div>
            <h2 class="text-3xl  font-bold text-center lg:text-left	uppercase ">Features</h2>
            <div class="grid xl:grid-cols-3 lg:grid-cols-2 sm:grid-cols-1 gap-1  lg:grid-flow-cols ">
              <div class="p-4 m-2 bg-base-200 ">
                <div class="card w-96 bg-base-100 shadow-xl h-full">
                  <div class="bg-base-100 grid w-full flex-grow gap-3 rounded-xl rounded-tl-none p-6 shadow-xl">
                    <div class="flex flex-col items-center space-x-2">
                      <div class="online avatar">
                        <div class="w-24 rounded-full"><img src="https://res.cloudinary.com/mduduzi17/image/upload/v1666966110/A87D4E55-9637-4B06-9598-5DA558AC9117_xuldtf.jpg"
                            alt="Avatar Tailwind CSS Component" class="mask mask-hexagon">
                        </div>
                      </div>
                      <div class="text-lg  font-extrabold">Trading Profiles</div>
                      <div class="text-base-content/70 text-sm flex-col">Mduduzi N Dube</div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="dropdown w-full flex-1">
                      <div class="divider text-lg font-extrabold mt-4">Features</div>
                      <div class="grid gap-3">
                        <div class="dropdown dropdown-top">
                          <div tabindex="0">
                            <div class="flex items-center p-1"><span class="text-base-content/70 w-48 text-xs">Live Ads Feed</span><progress max="100" value="90" class="progress progress-success"></progress>
                            </div>
                            <div class="flex items-center p-1"><span
                                class="text-base-content/70 w-48 text-xs">Custom Story Feed</span><progress max="100" value="90"
                                class="progress progress-primary"></progress>
                            </div>
                            <div class="flex items-center p-1"><span class="text-base-content/70 w-48 text-xs"> Trading History
                                </span><progress max="100" value="90" class="progress progress-secondary"></progress>
                            </div>
                            <div class="flex items-center p-1"><span
                                class="text-base-content/70 w-48 text-xs">Post Reactions</span><progress max="100" value="90"
                                class="progress progress-accent"></progress>
                            </div>
                            <div class="flex items-center p-1"><span class="text-base-content/70 w-48 text-xs">Global Reach</span><progress max="100" value="90" class="progress progress-warning"></progress>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="p-4 m-2 bg-base-200  ">
                <div class="card w-96 bg-base-100 shadow-xl h-full">
                  <div class="avatar-group -space-x-6 mx-auto block">
                    <div class="avatar">
                      <div class="w-12">
                        <img src="https://res.cloudinary.com/mduduzi17/image/upload/v1666966272/AEF87642-4B3B-453D-BBB2-749894B6541A_m7bqoh.jpg" />
                      </div>
                    </div>
                    <div class="avatar">
                      <div class="w-12">
                        <img src="https://res.cloudinary.com/mduduzi17/image/upload/v1663163244/cld-sample.jpg" />
                      </div>
                    </div>
                    <div class="avatar">
                      <div class="w-12">
                        <img src="https://res.cloudinary.com/mduduzi17/image/upload/v1666966272/AEF87642-4B3B-453D-BBB2-749894B6541A_m7bqoh.jpg" />
                      </div>
                    </div>
                    <div class="avatar">
                      <div class="w-12">
                        <img src="https://res.cloudinary.com/mduduzi17/image/upload/v1666966110/A87D4E55-9637-4B06-9598-5DA558AC9117_xuldtf.jpg" />
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <h2 class="card-title mx-auto block">
                      Target Your Buyers
                    </h2>
                    <p class="text-base-content/70 my-3 text-sm text-center">Custom Writing Tools<br>
                      Custom Post Filters<br>
                      Custom Dashboard</p>
                    <div class="card-actions justify-center">
                      <div class="badge badge-outline">Filter Posts</div>
                      <div class="badge badge-outline">Tag Posts</div>
                      <div class="badge badge-outline">Save posts</div>
                      <div class="badge badge-outline">comment on posts</div>
                    </div>
                    <button class="btn btn-neutral btn-block space-x-2 mt-6"><svg xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 24 24" class="h-6 w-6 stroke-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                      </svg>
                      <span>Create - Edit - Delete</span></button>
                  </div>
                </div>
              </div>
              <div class="p-4 m-2 bg-base-200  ">
                <div class="card w-96 bg-base-100 shadow-xl h-full">
                  <div class="flex flex-col items-center space-x-2">
                    <h2 class="card-title mx-auto block">
                      Privacy
                      <div class="badge badge-secondary">+1</div>
                    </h2>
                  </div>
                  <div class="card-body">
      
                    <p class="text-base-content/70 my-3 text-sm text-center">Opensource<br>
                      Secure Login<br>
                      One-Click Unsubscribe</p>
                    <div class="dropdown w-full flex-1">
                      <div tabindex="0">
                        <div class="form-control"><label class="label cursor-pointer"><span class="label-text">Use socials to login</span>
                            <input type="checkbox" checked class="toggle toggle-primary"></label></div>
                        <div class="form-control"><label class="label cursor-pointer"><span class="label-text">Secure login via Google</span>
                            <input type="checkbox" checked class="toggle toggle-secondary"></label></div>
                        <div class="form-control"><label class="label cursor-pointer"><span class="label-text">Complete control over content</span>
                            <input type="checkbox" checked class="toggle toggle-accent"></label></div>
                        <div class="form-control"><label class="label cursor-pointer"><span class="label-text">No public access to images or stories</span>
                            <input type="checkbox" checked class="toggle"></label>
                        </div>
                        <button class="btn btn-neutral   btn-block space-x-2 mt-6"><svg xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 24 24" class="h-6 w-6 stroke-current">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                          </svg>
                          <span>Protected</span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="divider"></div>
            <div class="hero  min-h-fit	 sm:mt-2">
              <div class="hero-content flex-col lg:flex-row-reverse">
                <img
                  src="https://res.cloudinary.com/mduduzi17/image/upload/v1666963149/undraw_web_search_re_efla_uqqxew.svg"
                  class="min-w-0	     shadow-md" />
                <div>
                  <h2 class="text-4xl font-bold text-center lg:text-left	 ">Be on the lookout for your favourite products.</h2>
                  <p class="py-6 text-lg">We'll make sure you don't miss <span class=" font-bold text-red-300 italic ">anything</span> posted near you, <span class=" font-bold text-green-300 italic">for the rest
                      of your thrifting life</span></p>
                  <button class="btn btn-secondary mx-auto lg:mx-0	text-xl block"><a href="/login">Start Thrifting</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<!-- <main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>

</main> -->

    

<%if (typeof user === 'undefined') { %>
    <%- include('partials/footer-preauth') %>
    <% } else { %>
    <%- include('partials/footer-postauth') %>
    <%  } %>